<!DOCTYPE html>

    <html>

    <head>
        <meta charset="utf-8">
        <title>Quinn's Spaghetti</title>
        <link href="../styles/general.css" rel="stylesheet" type="text/css" />
        <link href="../styles/introduction.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="home-cont">
            <header id="header">
                <h2>Quinn Gibson:</h2>
                <h1>Rhetorfolio</h1>
            </header>
            <object id="termsandconditions" type="application/pdf" data="../files/Terms and Conditions.pdf">
                <p>Your browser does not support embedded PDFs. You will have to open the PDF in its own tab. Once you have agreed to the Terms and Conditions, you will be directed back to the website.</p>
                <p><a href="https://stranothus.github.io/Spaghetti/files/Terms%20and%20Conditions.pdf">Terms and Conditions</a></p>
            </object>
        </div>
        <footer id="footer">
            <div id="footer-titles">
                <h1>Rhetorfolio</h1>
                <h2>Quinn Gibson</h2>
            </div>
            <div id="footer-links">
                <a href="https://portfolium.com/dqg2">Portfolium</a>
                <a href="https://www.instagram.com/stranothus/">Instagram</a>
                <a href="https://github.com/stranothus">Github</a>
                <a href="https://github.com/stranothus/Spaghetti">Source</a>
            </div>
        </footer>
    </body>
</html>