<!DOCTYPE html>

    <html>

    <head>
        <meta charset="utf-8">
        <title>Quinn's Spaghetti</title>
        <link href="../styles/general.css" rel="stylesheet" type="text/css" />
        <link href="../styles/introduction.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="home-cont">
            <header id="header">
                <h2>Quinn Gibson:</h2>
                <h1>Spaghetfolio</h1>
            </header>
            <embed id="termsandconditions" src="../files/Terms and Conditions.pdf"></embed>
        </div>
        <div id="page-container"></div>
    </body>
</html>