<!DOCTYPE html>

    <html>

    <head>
        <meta charset="utf-8">
        <title>Quinn's Spaghetti</title>
        <link href="../styles/home.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="home-cont">
            <header id="header">
                <h2>Quinn Gibson:</h2>
                <h1>Spaghetfolio</h1>
            </header>
            <embed src="../files/close_read.pdf"></embed>
        </div>
        <div id="page-container"></div>
    </body>
</html>